In [3]:
import pandas as pd
import os
import json
from tqdm import tqdm
import networkx as nx
import semanticscholar as sch
import urllib
import json
import requests
import itertools
from itertools import groupby

In [10]:
cur_path = os.getcwd()
all_paper_data = pd.read_pickle("..\\data\\all_paper_data.pkl")

In [11]:
coauthors = []
for idx,paper in tqdm(all_paper_data.iterrows()):
    coauthors.extend(list(itertools.combinations(paper['AA'],2))) 
coauthors_researchers_df = pd.DataFrame(coauthors, columns=['researcher1','researcher2'])
coauthors_researchers_df

0it [00:00, ?it/s]
1it [00:00,  1.77it/s]
672it [00:00,  2.53it/s]
1661it [00:00,  3.61it/s]
2296it [00:00,  5.16it/s]
3084it [00:00,  7.37it/s]
3986it [00:01, 10.52it/s]
4795it [00:01, 15.02it/s]
5731it [00:01, 21.45it/s]
6586it [00:01, 30.61it/s]
7387it [00:01, 43.65it/s]
8387it [00:01, 62.24it/s]
9464it [00:01, 88.69it/s]
10383it [00:01, 126.14it/s]
11441it [00:01, 179.28it/s]
12513it [00:01, 254.28it/s]
13606it [00:02, 359.65it/s]
14719it [00:02, 506.71it/s]
15794it [00:02, 709.44it/s]
16843it [00:02, 980.86it/s]
17852it [00:02, 1293.96it/s]
18710it [00:02, 1630.14it/s]
19435it [00:02, 2114.17it/s]
20186it [00:03, 2693.00it/s]
21077it [00:03, 3403.09it/s]
22033it [00:03, 4213.95it/s]
22994it [00:03, 5061.80it/s]
23925it [00:03, 5855.36it/s]
24807it [00:03, 6507.97it/s]
25688it [00:03, 6917.17it/s]
26548it [00:03, 6286.41it/s]
27306it [00:04, 4958.96it/s]
27936it [00:04, 5067.29it/s]
28538it [00:04, 5059.86it/s]
29111it [00:04, 4513.23it/s]
29620it [00:04, 4420.17it/s]
30103it [00:04, 4450.52it/s]
30642it [00:04, 4694.74it/s]
31135it [00:04, 4453.42it/s]
31679it [00:04, 4707.95it/s]
32168it [00:05, 4728.87it/s]
32653it [00:05, 4468.63it/s]
33112it [00:05, 4097.40it/s]
33536it [00:05, 3940.11it/s]
34232it [00:05, 4523.29it/s]
35034it [00:05, 6138.70it/s]

,researcher1,researcher2
0,"{'AuN': 'karen simonyan', 'AuId': 2033942250, ...","{'AuN': 'andrew zisserman', 'AuId': 2469405535..."
1,"{'AuN': 'diederik p kingma', 'AuId': 205560460...","{'AuN': 'jimmy ba', 'AuId': 2097546270, 'AfN':..."
2,"{'AuN': 'dzmitry bahdanau', 'AuId': 2509101809...","{'AuN': 'kyunghyun cho', 'AuId': 2462121670, '..."
3,"{'AuN': 'dzmitry bahdanau', 'AuId': 2509101809...","{'AuN': 'yoshua bengio', 'AuId': 161269817, 'A..."
4,"{'AuN': 'kyunghyun cho', 'AuId': 2462121670, '...","{'AuN': 'yoshua bengio', 'AuId': 161269817, 'A..."
...,...,...
313067,"{'AuN': 'thomas ricatte', 'AuId': 256014509, '...","{'AuN': 'remi gilleron', 'AuId': 1217769045, '..."
313068,"{'AuN': 'thomas ricatte', 'AuId': 256014509, '...","{'AuN': 'marc tommasi', 'AuId': 2086670939, 'A..."
313069,"{'AuN': 'remi gilleron', 'AuId': 1217769045, '...","{'AuN': 'marc tommasi', 'AuId': 2086670939, 'A..."
313070,"{'AuN': 'r anton', 'AuId': 2271936098, 'AfId':...","{'AuN': 'k dmitry', 'AuId': 2516428222, 'AfId'..."
313071,"{'AuN': 'tianqi chen', 'AuId': 2670372115, 'Af...","{'AuN': 'tong he', 'AuId': 2700840768, 'AfId':..."

In [12]:
authors_exploded = list(all_paper_data['AA'].explode('event_params').reset_index(drop = True))
authors = list({v['AuId']:v for v in authors_exploded if v['AfId'] is not None}.values())
authors.sort(key=lambda x:x['AfId'])
colleagues = []
for k,v in groupby(authors,key=lambda x:x['AfId']):
    colleagues.extend(itertools.combinations(list(v),2))
colleagues_researchers_df = pd.DataFrame(colleagues, columns=['researcher1','researcher2'])
colleagues_researchers_df

,researcher1,researcher2
0,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'maria regina justina e estuar', 'AuId..."
1,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'john clifford rosales', 'AuId': 25756..."
2,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'ma regina e estuar', 'AuId': 14622138..."
3,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'luke prudente', 'AuId': 2610175157, '..."
4,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'andrei d coronel', 'AuId': 2140270248..."
...,...,...
4484062,"{'AuN': 'zaiyue yang', 'AuId': 2888925995, 'Af...","{'AuN': 'ke tang', 'AuId': 2148973427, 'AfN': ..."
4484063,"{'AuN': 'zaiyue yang', 'AuId': 2888925995, 'Af...","{'AuN': 'peng yang', 'AuId': 2444236273, 'AfN'..."
4484064,"{'AuN': 'yunwen lei', 'AuId': 2550290020, 'AfN...","{'AuN': 'ke tang', 'AuId': 2148973427, 'AfN': ..."
4484065,"{'AuN': 'yunwen lei', 'AuId': 2550290020, 'AfN...","{'AuN': 'peng yang', 'AuId': 2444236273, 'AfN'..."
4484066,"{'AuN': 'ke tang', 'AuId': 2148973427, 'AfN': ...","{'AuN': 'peng yang', 'AuId': 2444236273, 'AfN'..."

In [13]:
reference_df = pd.concat([colleagues_researchers_df, coauthors_researchers_df])
reference_df

,researcher1,researcher2
0,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'maria regina justina e estuar', 'AuId..."
1,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'john clifford rosales', 'AuId': 25756..."
2,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'ma regina e estuar', 'AuId': 14622138..."
3,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'luke prudente', 'AuId': 2610175157, '..."
4,"{'AuN': 'hadrian paulo m lim', 'AuId': 2750994...","{'AuN': 'andrei d coronel', 'AuId': 2140270248..."
...,...,...
313067,"{'AuN': 'thomas ricatte', 'AuId': 256014509, '...","{'AuN': 'remi gilleron', 'AuId': 1217769045, '..."
313068,"{'AuN': 'thomas ricatte', 'AuId': 256014509, '...","{'AuN': 'marc tommasi', 'AuId': 2086670939, 'A..."
313069,"{'AuN': 'remi gilleron', 'AuId': 1217769045, '...","{'AuN': 'marc tommasi', 'AuId': 2086670939, 'A..."
313070,"{'AuN': 'r anton', 'AuId': 2271936098, 'AfId':...","{'AuN': 'k dmitry', 'AuId': 2516428222, 'AfId'..."
313071,"{'AuN': 'tianqi chen', 'AuId': 2670372115, 'Af...","{'AuN': 'tong he', 'AuId': 2700840768, 'AfId':..."

In [20]:
reference_df['researcher1'].values[345]

{'AuN': 'pietro lio',
 'AuId': 2157341662,
 'AfN': 'university of cambridge',
 'AfId': 241749,
 'S': 3}